/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 avr. 2019, 15:52:50
    Author     : stef_
*/

/* Mise en page  */
body {

    background: #dbdbdb;
   
}

.cadre {
    background: white;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 70px;
    margin-bottom: 70px;
}


/* écritures*/
h2{
    
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
}

h3{
    text-align: center;
    font-size: 18px;

}
center{
    margin-bottom: 30px;
}
.pdf-icon {
    height: 60px;
    width: 60px;
    margin: 2px 0;
}