/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 avr. 2019, 12:16:59
    Author     : stef_
*/

#copyright{
    text-align: center;
}

footer{
    background: white;
    
}
body{
    background: #dbdbdb;
}
#text_accueil{
    background: white;
    margin-top: 70px;
    margin-right: 250px;
    margin-left: 250px;
    text-align: center;
    margin-bottom: 70px;
}

#btn {
    background-color: black;
}